<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="RegressionSuite" thread-count="6" parallel="tests">
    <test name="Regression1" >
        <groups>
            <run>
                <include name="Regression1" />
            </run>
        </groups>
        <classes>
            <class name="Tests">
            </class>
        </classes>
    </test>

    <test name="Regression2">
        <groups>
            <run>
                <include name="Regression2" />
            </run>
        </groups>
        <classes>
            <class name="Tests">
            </class>
        </classes>
    </test>
</suite>